.list-container{
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to next line */
    margin-right: 10%;
    padding: 1rem;
    align-items: center;
}

.marked-ones{
    display: inline-block;
    padding: 1rem;
    vertical-align: middle;
}

.chart-box{
    background-color: white;
    padding: 1rem;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

