.list-container{
    display: inline-block;
    margin-right: 10%;
    padding: 1rem 1rem;
    vertical-align: middle;
}

.marked-ones{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}