/** Basic styling for the whole application. */

* {
    color: white;
    background-color: rgb(105, 105, 105);
}

h2 {
    margin: 50pt;
    display: inline;
}

h3 {
    display: block;
}

button {
    box-sizing: border-box;
    font-family: inherit;
    padding:  10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 20px 5px 5px 5px;
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition for hover effects */
    border: 2px solid #ffffff; /* White border, 2px thick */
    border-radius: 5px; 
}
button:hover {
    background-color:  rgb(88, 75, 75); /* Lighter on hover */
}

button.delete {
    background-color: red;
}

input {
    padding: 8px 12px; 
    margin: 5pt; 
    background-color: #333; 
    color: white; 
    border: 2px solid #555; 
    border-radius: 4px; 
    outline: none; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
    border-color: #06AED5; /* A brighter border color for focus */
    box-shadow: 0 0 8px 0 rgba(6, 174, 213, 0.5); /* Subtle glow effect when focused */
}

.selectable, .clickable, button {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

.selected, .active {
    color: black;
    text-decoration: underline;
}

p.selected, p.active {
    font-size: large;
}
/* Universal select style */
select {
    width: 40%; 
    padding: 10px;
    border-radius: 5px;
    background-color:   rgb(105, 105, 105); 
    color: white; 
    border: 2px solid white; 
    cursor: pointer; 

    appearance: none; 
}


/** Shared styles for sections with forms for adding or removing attendees */
/** Additional styles specific to the ManageAttendance component **/

.manage-attendance-container {
    text-align: center;
    color: white;
}



.attendance-select-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.attendance-list-container, .marked-ones {
    width: 48%;
    overflow: auto;
    background-color: rgb(105, 105, 105);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}


.attendance-flex-container {
    display: flex;
    justify-content: space-between;
}

.attendance-item {
    margin: 5px 0;
}

.attendance-checkbox {
    margin-right: 10px;
}
